/* Define a consistent theme using CSS variables */
:root {
    --primary-color: #0074D9;
    --secondary-color: #093D65;
    --background-color: #ffffff;
    --text-color: #093D65;
    --font-family: 'CustomFont', sans-serif;
}

/* Import the font from the fonts directory */
@font-face {
    font-family: 'CustomFont';
    src: url('/frontend/static/fonts/Annie%20Use%20Your%20Telescope.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General Page Styling */
body {
    /* font-family: 'CustomFont', sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Apply the same font throughout the login page */
body, input, button, p, h1, label {
    font-family: var(--font-family);
}

/* Container for the entire page */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

/* Left Section (Logo and Branding) */
.branding {
    flex: 1;
    text-align: left;
}

.branding h1 {
    font-size: 2rem;
    color: #0074D9;
    margin: 0;
}

.branding p {
    font-size: 2rem;
    color: #093D65;
    margin-top: 10px;
}

.branding .logo {
    width: 300px; /* Adjust the width to make it larger */
    height: auto; /* Maintain the aspect ratio */
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
    border-radius: 8px; /* Optional: Add rounded corners */
}

/* Add hover effect for the logo */
.logo:hover {
    cursor: pointer;
}

/* Right Section (Login Form) */
.login-form {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
    font-size: 4rem;
    /*font-family: 'CustomFont', sans-serif;
    color: #093D65;*/
    margin-bottom: 20px;
    font-weight: 600;
}

.login-form label {
    display: block;
    font-size: 1.5rem;
    /*font-family: 'CustomFont', sans-serif;
    color: #093D65; */
    margin-bottom: 5px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    /*font-family: 'CustomFont', sans-serif;*/
}

.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #0074D9;
    color: #fff;
    font-size: 1.8rem;
    /*font-family: 'CustomFont', sans-serif;*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #093D65;
}

.login-form p {
    text-align: center;
    margin-top: 15px;
    font-size: 1.8rem;
    /*font-family: 'CustomFont', sans-serif;*/
}

.login-form p button {
    background: none;
    border: none;
    color: #0074D9;
    cursor: pointer;
    font-size: 2rem;
    /*font-family: 'CustomFont', sans-serif;*/
}

.login-form p button:hover {
    text-decoration: underline;
}

